streamlit
gspread
pandas
google-auth
google-auth-oauthlib
matplotlib
requests
beautifulsoup4
plotly
seaborn
geopandas
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability
